@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scrollbar-color: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #C21010;
  --light-color: #ffffff;

}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;

}

body {
  background-color: whitesmoke;
  // background-color: white;

}
.templete-container {
  width: 790px;
  height: 1000px;
  margin-left: 10rem;
  margin-top: 5rem;
  margin-bottom: 5rem;

  & .templete-1 {
    display: grid;
    grid-template-columns: 30% 70%;


    // ===============CV-heading-start ===============
    & .cv-heading {
      height: 1000px;
      background-color: #0C2439;

      & .image {
        @extend %flex-center;
        margin-top: 2rem;

        & p {
          position: absolute;
          color: var(--light-color);
          z-index: -0;
          text-align: center;
          font-weight: 600;
        }

        & .user-image {
          border: 4px solid var(--light-color);
          height: 10rem;
          width: 10rem;
          background-color: #0a1824;
          border-radius: 50%;
          position: relative;
        }

        & img {
          border-radius: 50%;
          height: 100%;
          width: 100%;
          z-index: 100;
          position: relative;
        }
      }

      & .name {
        & h1 {
          color: var(--light-color);
          font-weight: 600;
          text-align: center;
          margin-top: 1.5rem;
        }

        & p {
          color: var(--light-color);
          text-align: center;
        }
      }

      & .contact-section {

        & .contact {
          height: 3rem;
          background-color: #0a1824;
          width: 100%;
          margin-top: 2rem;
          display: flex;
          align-items: center;

          & i {
            color: #21ffe9;
            font-size: 1.5rem;
            padding-right: 3rem;
            padding-left: 0.3rem;
          }

          & h3 {
            color: var(--light-color);
            font-weight: 500;

          }
        }


      }

      & .detail {
        & .details {
          margin-top: 1rem;
          @extend %flex-center;

          & i {
            color: #21ffe9;
            // color: var(--light-color);
            font-size: 1.5rem;
          }

          & p {
            color: var(--light-color);
            margin-left: 0.3em;
            font-size: 1.1rem;
            letter-spacing: 1px;

            & span {
              font-size: 1rem;
              font-weight: 400;
            }
          }
        }

        .mail {
          margin-top: 1rem;
          @extend %flex-center;

          & i {
            color: #21ffe9;
            font-size: 1.5rem;
          }

          & p {
            color: var(--light-color);
            margin-left: 0.3em;
            font-size: 0.7rem;
            word-wrap: break-word;
            // letter-spacing: 1px;
          }
        }
      }

      & .language {
        color: white;
        @extend %flex-center;
        flex-direction: column;

        & p {
          margin-top: 0.6rem;
          letter-spacing: 1px;
          font-weight: 600;

          & span {
            font-weight: 500;
            margin-left: 3px;
          }
        }
      }

      // ===============CV-heading-End =================
    }

    // ===============CV-Content-Start ===============

    & .cv-content {
      border: 1px solid green;
      
    }

    // ===============CV-Content-End =================
  }
}
