@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #C21010;
  --light-color: #ffffff;

}

::selection {
  background-color: var(--primary-color);
  color: white;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;

}

body {
  background-color: whitesmoke;

}

::-webkit-scrollbar-thumb {
  background-color: #C21010;
  border-radius: 15px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  width: 10px;
}

// .dropdown:hover .dropdown-menu {
//   display:block;
// }


.dropdown-menu {
  border-top: 5px solid var(--primary-color);
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0;
  width: 14rem;
  margin-top: 5px;
  margin-left: 2rem;

  & .drop-item {
    font-weight: 600;
  }
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 40;
  box-shadow: 0px 2px 67px 13px rgba(0, 0, 0, 0.348);
}

nav {
  & .navbar-toggler {
    border: none;
    padding: 0;

  }

  & .nav_collapse {


    & i {
      color: var(--primary-color);
      font-size: 50px;
    }
  }

  background-color: var(--light-color);

  & .logo {
    & img {
      width: 130px;
    }
  }

  & .nav_sm_drop {

    & p {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0%;

      & a {
        font-size: 20px;
        color: black;
        width: 100%;
        font-weight: 500;
        text-decoration: none;

        & i {
          font-size: 30px;
        }
      }
    }
  }

  & .ph_dropdown {

    & a {
      display: flex;
      margin-top: 10px;
      margin-left: 30px;
      font-size: 18px;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.793);
      font-weight: 500;
    }
  }

  & .navbar-nav li .nav-link {
    color: black;
    font-weight: 600;
    font-size: 1rem;
    display: inline;
    margin-left: 1.3rem;
  }

  & .icon {
    font-size: 2rem;
    @extend %flex-center;

    & i {
      color: black;
    }
  }

  & .sign_in_btn {
    background: transparent;
    border: 2px solid var(--primary-color);
    padding: 5px 15px 5px 15px;
    color: var(--primary-color);
    font-weight: 600;

  }

  & .language-select {

    padding: 5px 15px 5px 15px;
    border: 2px solid black;
    color: var(--primary-color);
    font-weight: 600;
    margin-left: 5px;
  }

  & .lan_dropdown {
    margin-top: 4px;
    margin-right: 1rem;
    color: black;

    & .flag_img {
      border-radius: 5px;
    }

    & img {
      width: 40px;
    }

    & .dropdown-menu {
      min-width: 110px;

      & p {
        @extend %flex-center;
        cursor: pointer;
        & span {
          color: var(--primary-color);
          margin-left: 12px;
          font-weight: 500;
        }
      }
    }
  }

  .user_details_dropdown {
    & img {
      border-radius: 50%;
      width: 38px;
      border: 2px solid var(--primary-color);

    }

    & .dropdown-menu {
      margin-top: 10rem;
      width: 20rem;

      & li {
        position: relative;

        & p {
          margin-top: 10px;
          text-transform: uppercase;
          margin-left: 20px;
          font-weight: 600;
          font-size: 15px;
          display: flex;
  

          & img {
            object-fit: cover;
            border-radius: 50%;
            width: 60px;
            border: 3px solid var(--primary-color);

          }

          & .user-name {
            margin-left: 6px;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & .email {
              text-transform: none;
              font-size: 10px;
            }
          }

          & i {
            font-size: 30px;
            margin-right: 5px;
            color: black;
          }

          & a {
            text-decoration: none;
            text-transform: lowercase;
            font-weight: 600;
            font-size: 1.2rem;
            color: var(--primary-color);
            display: flex;
            align-items: flex-end;
          }

        }
      }
    }
  }

  & .user_icon {

    & i {
      color: black;
      font-size: 30px;
    }
  }
}

// =============== hero-section_start ===============
.main-heading {

  & .heading {
    // border: 2px solid red;
    padding-left: 3rem;
    height: 90vh;
    width: 100%;
    @extend %flex-center;
    flex-direction: column;
    align-items: flex-start;

    & h2,
    h1 {
      font-weight: 600;
    }

    & p {
      font-weight: 500;
    }

    & button {
      background: transparent;
      border: 2px solid var(--primary-color);
      color: var(--primary-color);
      padding: 8px 15px 8px 15px;
      font-weight: 500;
    }

    & .cv-btn {
      background: var(--primary-color);
      color: var(--light-color);
      margin-left: 0.25rem;
    }
  }
}

// ================== header-image-start ==================
.header-image {
  height: 90vh;
  position: relative;

  & .image {
    position: relative;
    @extend %flex-center;
    height: 100%;
    width: 100%;
  }

  & img {
    width: 76%;
    animation-name: img;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
}

@keyframes img {
  25% {
    position: relative;
    transform: translateY(-30px);
  }

  50% {
    position: relative;
    transform: translatex(-30px);
  }

  75% {
    position: relative;
    transform: translateY(+30px);
  }

  100% {
    position: relative;
    transform: translatex(+30px);
  }

  100% {
    position: relative;
    transform: translatex(0px);
  }

}

// ================== header-image-End ====================

// =============== hero-section_start ===============

// ================datails-section-Start ==================

.datails-img {
  position: relative;
  height: 34rem;

  & .image {
    @extend %flex-center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;

    & img {
      width: 80%;
      margin-bottom: 2rem;
    }
  }
}

.datails-sec {
  margin-top: 2rem;

  & h3 {
    text-align: center;
    font-weight: 600;
    line-height: 2.5rem;

    & span {
      color: var(--primary-color);
    }
  }
}


.details-box {
  height: 34rem;

  & .box-1 {
    border: 3px solid var(--primary-color);
    border-left: 10px solid var(--primary-color);
    height: 10rem;
    @extend %flex-center;
    transition: all 0.50s;

    & i {
      font-size: 4rem;
      color: var(--primary-color);
    }

    & .text {
      display: flex;
      align-items: center;
      width: 100%;
      margin-left: 3rem;

      & h2 {
        margin-left: 1rem;
      }

    }

    &:hover {
      transform: translateY(-10px);
    }
  }
}


// ================datails-section-End ====================

// ================Number-animation-Start ==================== 
.num-bg {
  background-color: var(--primary-color);
  padding-top: 1rem;
  padding-bottom: 1rem;

  & .downloads-number {
    @extend %flex-center;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;

    & h1 {
      color: var(--light-color);
      font-weight: 600;
    }

    & h3 {
      color: #f5f5f5e8;
      font-weight: 600;
    }
  }
}

// ================Number-animation-End ====================== 

// ================Select-templete-Start ====================== 
.template-heading {
  width: 100%;

  & h1 {
    text-align: center;
    font-weight: 600;
    background: var(--primary-color);
    margin-bottom: -5rem;
    padding-bottom: 8rem;
    padding-top: 2rem;
    color: var(--light-color);
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item>div {
    display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media (min-width: 768px) {

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next,
  .carousel-item-next:not(.carousel-item-start) {
    transform: translateX(25%) !important;
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-item-prev:not(.carousel-item-end),
  .active.carousel-item-start,
  .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-25%) !important;
  }

  .carousel-item-next.carousel-item-start,
  .active.carousel-item-end {
    transform: translateX(0) !important;
  }

  .carousel-inner .carousel-item-prev,
  .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-25%) !important;
  }
}

.card_body_cv {
  background-color: transparent;
  border: none;
  position: relative;
  width: 100%;
  height: 100%;

  & img {
    border: 5px solid var(--primary-color);
    padding: 0.50rem;
    position: relative;
  }

  & a {
    @extend %flex-center;
    position: absolute;
    z-index: 4;
    height: 100%;
    width: 100%;
    text-decoration: none;
    opacity: 0;
    transition: all 0.5s;

    &:hover {
      opacity: 100;
    }

    & button {
      background-color: var(--primary-color);
      border: 2px solid var(--primary-color);
      color: white;
      padding: 8px 10px 8px 10px;
    }
  }
}


// ================Select-templete-End ========================

// =============== Tips_Sec_start ===============
.tips-content {
  @extend %flex-center;
  // flex-direction: column;

}

.tip-sec-txt {
  width: 60%;

  // border: 3px solid red;

  & h1 {
    text-align: center;
    font-weight: 600;

    & span {
      color: var(--primary-color);
    }
  }

  & p {
    text-align: center;
    margin-top: 1rem;
    font-weight: 600;
    ;
  }

  & ul {
    line-height: 1.6rem;

    & li {
      font-weight: 500;
      margin-top: 2rem;

    }
  }
}

// =============== Tips_sec_End =================


// =============== Fixed_bg_Start =================
.fix-bg {
  background: url(../image/bg.jpg);
  width: 100%;
  height: 30rem;
  background-attachment: fixed;

  & .txt {
    @extend %flex-center;
    height: 100%;
    width: 100%;
    flex-direction: column;

    & h1 {
      padding: 0 5px 0 5px;
      color: white;
      font-weight: 600;
      text-align: center;
    }

    & .btn {

      padding: 0.9rem 2rem;
      font-size: 16px;
      font-weight: 700;
      color: white;
      border: 3px solid white;
      position: relative;
      background-color: transparent;
      overflow: hidden;
      z-index: 10;
      font-family: inherit;
      letter-spacing: 0.80px;

      &:hover {
        color: var(--primary-color);
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        transform: translateX(-100%);
        transition: all .3s;
        z-index: -1;

      }

    }

    .btn:hover::before {
      transform: translateX(0);
    }
  }
}

// =============== Fixed_bg_End ===================

// =============== animation-cv_start ===================
.animation-cv-sec {
  background-color: var(--light-color);
}

.anim-sec-txt {
  height: 100%;

  height: 80vh;
  @extend %flex-center;
  flex-direction: column;
  margin-left: 3rem;

  & h1 {
    //  text-transform: capitalize;
    line-height: 3.2rem;
    font-weight: 600;

    & span {
      color: var(--primary-color);
    }
  }

  & button {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 10px 22px;
    font-weight: 600;
    border: none;
    margin-top: 2rem;
  }
}

.animated-img {
  height: 80vh;
  overflow: hidden;

  & .images {
    @extend %flex-center;
    flex-direction: column;
    position: relative;

    & img {
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 100%;
      animation: imagescroll 25s infinite linear;
    }

  }

}

.animated-img-ph {
  display: none;
  overflow: hidden;

  & .images {
    @extend %flex-center;
    position: relative;

    & img {
      margin-left: 1rem;
      margin-right: 1rem;
      width: 12rem;
      animation: imagescrolling 8s infinite linear;
    }

  }

}

@keyframes imagescrolling {

  100% {
    transform: translatex(-100%);

  }

}

@keyframes imagescroll {

  100% {
    transform: translateY(-100%);

  }

}

@keyframes imagescroll2 {

  100% {
    transform: translateY(-100%);

  }

}

// =============== animation-cv_end =====================

// =============== Footer-start =================
footer {
  & p {
    & a {
      text-decoration: none;
      color: var(--light-color);
    }
  }

  & .icons {

    // padding-top: 3px;
    & a {
      color: var(--light-color);
      font-size: 1.5rem;
      margin-left: 0.50rem
    }
  }

  & .social-icon-heading {
    & p {
      @extend %flex-center;
      height: 100%;
      width: 100%;
    }
  }
}


// =====================sign-up-modal=================
.sign_in_modal {

  & .modal-body {
    & h2 {
      font-weight: 600;
      text-align: center;
      color: var(--primary-color);
    }

    & p {
      text-align: center;

    }

    & button {
      border: 2px solid var(--primary-color);
      color: var(--primary-color);
      padding: 8px 10px;
      width: 80%;
      font-weight: 600;
      background-color: transparent;
      margin-bottom: 20px;
    }
  }
}