:root {
  --primary-color: #C21010;
  --light-color: #ffffff;

}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;

}

// ===========blog-heading===================
.blog-heading-img {
  box-shadow: 0px 5px 31px 0px rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 45vh;
  background-image: url(../image/light-bg.jpg);
  background-attachment: fixed;
  position: relative;

  &::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.227);
    top: 0;
  }

  & .heading {
    @extend %flex-center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    z-index: 1;
    position: relative;

    & h5 {
      text-transform: uppercase;
      color: rgba(245, 245, 245, 0.91);
      font-weight: 600;

      & a {
        color: white;
      }
    }

    & h1 {
      font-size: 50px;
      color: white;
      font-weight: 700;
      text-transform: lowercase;
      margin-top: 10px;
    }
  }
}

// ==========blog-card-start=================
.blog-card {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
  width: 100%;

  &:hover {
    transform: translateY(-8px);
  }

  & .blog-img img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  & .blog-heading {
    margin-top: 0.75rem;

    & h4 {
      font-weight: 600;
      color: #212529;
      line-height: 2rem;
      word-break: break-all;
    }

    & p {
      font-weight: 500;
      color: black;
    }
  }

  & .blog-para {
    & p {
      color: black;
      word-break: break-all;
    }
  }
}

.contact-map {
  & iframe {
    width: 100%;
    height: 360px;
    border: 10px double var(--primary-color);
    border-radius: 10px;
  }
}

.con-form-sec {
  & .heading h3 {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
  }

  & input,
  textarea {
    padding: 12px;
    background-color: var(--primary-color);
    border: 3px solid black;
    border-radius: 5px;
    color: white !important;
    font-weight: 500;

    &::placeholder {
      color: white;
      font-weight: 600;
    }

    &:focus {
      background-color: var(--primary-color);
      box-shadow: 0px 0px 50px 5px #c2101043;
      border: 3px solid black;
    }
  }

  & button {
    padding: 8px;
    background-color: var(--primary-color);
    width: 100%;
    border: 3px solid black;
    border-radius: 5px;
    color: white;
    font-weight: 600;
  }
}